@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
:root {
    --bs-body-font-family: "Manrope", sans-serif;
    --bs-info: #f00;
}

nav {
    backdrop-filter: blur(0.5rem);
}
.active:before {
    content: "→ ";
}

@media (min-width: 992px) {
    .active:before {
        content: "↓ ";
    }
}
#fondito {
    background: blue url("https://picsum.photos/536/354?grayscale&blur=1") no-repeat top left;
    background-size: cover;
}
